<!DOCTYPE html>
<html>
      <head>
           <title>Mohamed Abbas Task Lec 6</title>
           <link rel="stylesheet"  href="css/style.css" />
      <link rel="stylesheet" href="css/bootstrap.min.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
      </head>

      <body>
              <h2>{{>header}} </h2>

            <div class="container hi">
                  <div class="jumbotron animate__animated animate__backInLeft">
                        <h1 class="display-4">Welcome at Express Js Task </h1>
                        <p class="lead">This is a simple Task includes fixed header and footer between pages,sending Dynamic Data to HTML Files and using Online API to Get Weather Forecast.</p>
                        <hr class="my-4">
                        <p>simply Navigate links at NavBar .</p>
            
                  </div>
            </div>
             
            <h2>{{>footer}} </h2>
            <script src="js/bootstrap.min.js"></script>
      </body>
</html>