<!DOCTYPE html>
<html>

<head>
      <title>Mohamed Abbas Task Lec 6</title>
      <link rel="stylesheet" href="css/bootstrap.min.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>


      <h2 class="hedt1 text-center animate__animated animate__pulse">Welcome At <span
                  class="badge badge-secondary">{{title}}</span> page</h2>

      <section>
            <nav class="shift">
                  <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/team">team</a></li>
                        <li><a href="/weather">weather</a></li>
                        <li><a href="/service">service</a></li>
                        <li><a href="/contactUs">Contact Us</a></li>
                  </ul>
            </nav>
      </section>



      <script src="js/bootstrap.min.js"></script>
</body>

</html>